* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: url(Image/header.png);
    color: #111e13;
    padding: 20px 60px;
}

.club-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


nav {
    background: white;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

nav a {
    text-decoration: none;
    color: #111e13;
    font-weight: 500;
    margin: 0 10px;
    transition: 0.3s;
}

nav a:hover {
    color: rgb(0,159,0);
}


.dropbtn {
    background: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    color: black;
    cursor: pointer;
}

.dropbtn:hover {
    color: rgb(0,159,0);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 0;
}

.dropdown-content a:hover {
    background: #ddd;
    color: green;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.hero {
    text-align: center;
    padding: 60px 20px;
    background: url(image/FootballClubBG.png);
    color: white;
}

.hero h1 {
    margin-bottom: 15px;
}

.hero p {
    margin-bottom: 25px;
    font-size: 1.2em;
}




.btn {
    background-color: #fca243;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
}

.btn:hover{
    background-color: #ffc400;
}


.home-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.main-content {
    width: 65%;
}


.card p {
    line-height: 1.6;
    margin-bottom: 20px;
}

#kickOff, #pitchDashboard, #upcomingEvents {
    color: darkgreen;
    margin-bottom: 15px;
}

#whyChoose {
    color: green;
    margin-bottom: 10px;
}

#ourTrainingProgram {
    color: green;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 15px;
}


.programs ul {
    line-height: 1.6;
    margin-left: 20px;
}

.programs li {
    margin-bottom: 15px;
}


.sideBoard {
    background-color: #f4f8fb;    
    color: black;
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 8px;
    width: 30%;
}

.sideBoard p {
    margin-bottom: 10px;
}

.sideBoard hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}

.sideBoard ul {
    line-height: 1.8;
    margin-left: 20px;
    font-size: 0.95em;
}


.status-open {
    color: green;
    font-weight: bold;
}


.contact {
    width: 90%;
    max-width: 1300px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    gap: 120px;
}


.announcement-box {
    background: #fca243;
    color: url(image/FootballClubBG.png);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 0.95em;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


footer {
    background: #83a166;
    color: #111e13;
    padding: 30px 40px;
    margin-top: auto;
}

footer p {
    margin: 12px 0;
    line-height: 1.6;
}

footer a {
    color: black;
    text-decoration: none;
    margin: 0 8px;
}

footer a:hover {
    color: #ffc400;
    text-decoration: underline;
}

footer hr {
    margin: 20px 0;
    border: none;
    height: 1px;
    background: rgba(255,255,255,0.2);
}